body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

button{
    background-color: #0792dd;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 50px;border-radius: 10px;
}
button:hover{
    background-color: #0c79b4;
}
a{
    text-decoration: none;
    color: white;
    
}