
      body {
          font-family: 'Poppins', sans-serif;
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bag.png');
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
      }
      .hero{
        display: flex;
        overflow: hidden;
      }

      .form-group{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .gambar{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
          backdrop-filter: blur(50px);
          background-color: rgba(17, 25, 40, 0.30);
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          width: 300px;
      }

      .login-form h2 {
          text-align: center;
          margin-bottom: 20px;
          color: #ffffff;
      }

      .input-group {
          position: relative;
          margin-bottom: 15px;
      }
      p{
        font-size: 12px;
        color: white;
        text-align: center;
      }
      .input-group i {
          position: absolute;
          border-radius: 5px 0 0 5px;
          border: 1px solid #ccc;
          color: #545252;
          background-color: #d9d7d7;
          padding: 10px;
          box-sizing: border-box;
      }

      .input-group input {
          width: 100%;
          padding: 10px 10px 10px 50px; /* Padding left for icon */
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
      }

      .input-group input:focus {
          border-color: #007bff;
      }

      button {
          width: 100%;
          padding: 10px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
      }

      button:hover {
          background-color: #0056b3;
      }

