body{
    margin: auto;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bag.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
}
.content{
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    color: rgb(0, 0, 0);
}

table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #007bff;
    width: 20px;
}
th, td{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #cecece;
}
tr:hover{
    background-color: #e2dddd;
}

button{
    font-weight: bold;
    background-color: #217ad8;
    border-radius: 10px;
    width: 10%;
    height: 50px;
    margin-bottom: 20px;
}
button:hover{
    background-color: #0056b3;
}
a{
    color: white;
    text-decoration: none;
}