*{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border: #b48605 solid 2px;
    border-radius: 10px;
}
h2{
    text-align: center;
    background-color: #b48605;
}

form{
    text-align: center;
    border: 1px solid #b48605;
    border-radius: 10px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    box-sizing: border-box;

    
}

form input {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
}

button{
    border-radius: 5px;
    background-color: #b48605;
    padding: 5px;
}

.lihat{
    text-align: center;
    margin-left: 50px;
}

.logout{
    position: relative;
    top: 50px;
    left: 780px;
    text-align: center;
    margin-left: 120px;
}



